In [2]:
import numpy as np
import pandas as pd
import pyarrow as pa
#Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Reading from a csv file, into a data frame
business_df = pd.read_csv('model_business_df_2.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)
business_df

,taxi_zone,business_type,License Expiration Date,License Creation Date,Counts
0,3,entertainment_and_recreation,2024-03-31,1997-08-01,1
1,3,entertainment_and_recreation,2025-1-1,2012-01-04,1
2,3,parking_and_automotive_services,2022-10-31,2017-02-03,1
3,3,parking_and_automotive_services,2022-10-31,2019-01-08,1
4,3,parking_and_automotive_services,2022-10-31,2019-01-23,1
...,...,...,...,...,...
60753,263,transportation,2023-11-01,2023-06-05,1
60754,263,transportation,2024-04-30,2009-11-18,1
60755,263,transportation,2024-04-30,2009-11-25,1
60756,263,transportation,2024-04-30,2021-11-18,1
60757,263,transportation,2024-05-31,1996-04-09,1

In [3]:
business_df.dtypes

taxi_zone                   int64
business_type              object
License Expiration Date    object
License Creation Date      object
Counts                      int64
dtype: object

In [4]:
taxi_df = pd.read_parquet("basic_taxi_df_2.2.parquet")
taxi_df

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,EWR
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,EWR
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,EWR
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,EWR
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,EWR
...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247.0,2023-04,6,19,Manhattan
3038036,263,2023-04-30 20:00:00,242.0,2023-04,6,20,Manhattan
3038037,263,2023-04-30 21:00:00,210.0,2023-04,6,21,Manhattan
3038038,263,2023-04-30 22:00:00,152.0,2023-04,6,22,Manhattan
3038039,263,2023-04-30 23:00:00,84.0,2023-04,6,23,Manhattan

# connect taxi data and business data, match the time range

In [5]:
# First, create a pivot table from business_df with 'business_type' as columns
pivot_df = pd.pivot_table(business_df, values='Counts', 
                          index=['taxi_zone', 'License Creation Date', 'License Expiration Date'], 
                          columns=['business_type'], 
                          aggfunc=np.sum, 
                          fill_value=0).reset_index()

# Sort pivot_df by 'License Creation Date'
pivot_df.sort_values('License Creation Date', inplace=True)
pivot_df

business_type,taxi_zone,License Creation Date,License Expiration Date,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation
41162,181,1989-10-25,2023-12-31,0,0,0,0,0,1,0,0
35086,157,1989-10-25,2023-12-31,0,0,0,0,0,1,0,0
19200,82,1993-12-22,2024-10-31,0,0,0,1,0,0,0,0
6729,26,1994-01-05,2024-03-31,0,0,0,0,0,0,1,0
28689,129,1994-01-19,2024-10-31,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5943,22,2023-06-08,2025-02-28,0,0,0,0,0,1,0,0
51506,226,2023-06-08,2024-04-30,0,0,0,0,0,0,0,1
27037,118,2023-06-08,2024-06-30,0,0,0,0,1,0,0,0
11193,45,2023-06-08,2025-02-28,0,0,0,0,0,1,0,0
29394,129,2023-06-08,2024-10-31,0,0,0,1,0,0,0,0

In [6]:
combine_df = taxi_df.copy()
combine_df['entertainment_and_recreation'] = 0
combine_df['financial_services'] = 0
combine_df['food_and_beverage'] = 0
combine_df['parking_and_automotive_services'] = 0
combine_df['professional_services'] = 0
combine_df['real_estate'] = 0
combine_df['retail_services'] = 0
combine_df['transportation'] = 0

combine_df

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,EWR,0,0,0,0,0,0,0,0
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,EWR,0,0,0,0,0,0,0,0
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,EWR,0,0,0,0,0,0,0,0
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,EWR,0,0,0,0,0,0,0,0
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,EWR,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247.0,2023-04,6,19,Manhattan,0,0,0,0,0,0,0,0
3038036,263,2023-04-30 20:00:00,242.0,2023-04,6,20,Manhattan,0,0,0,0,0,0,0,0
3038037,263,2023-04-30 21:00:00,210.0,2023-04,6,21,Manhattan,0,0,0,0,0,0,0,0
3038038,263,2023-04-30 22:00:00,152.0,2023-04,6,22,Manhattan,0,0,0,0,0,0,0,0
3038039,263,2023-04-30 23:00:00,84.0,2023-04,6,23,Manhattan,0,0,0,0,0,0,0,0

In [7]:
combine_df['datetime'] = pd.to_datetime(combine_df['datetime'])
pivot_df['License Creation Date'] = pd.to_datetime(pivot_df['License Creation Date'])
pivot_df['License Expiration Date'] = pd.to_datetime(pivot_df['License Expiration Date'])

# The code below used to mathch the time ramge, will run a long time. we have already saved it, and will read it later

In [8]:
# Perform the operation
for i in combine_df.index:
    # Get the current row in combine_df
    row_combine = combine_df.loc[i]
    
    # Filter pivot_df based on conditions
    mask = (
        (pivot_df['taxi_zone'] == row_combine['taxi_zone']) &
        (pivot_df['License Creation Date'] <= row_combine['datetime']) &
        (pivot_df['License Expiration Date'] >= row_combine['datetime'])
    )
    
    # Sum the values of entertainment_and_recreation from the selected rows in pivot_df
    combine_df.at[i, 'entertainment_and_recreation'] = pivot_df.loc[mask, 'entertainment_and_recreation'].sum()
    combine_df.at[i, 'financial_services'] = pivot_df.loc[mask, 'financial_services'].sum()
    combine_df.at[i, 'food_and_beverage'] = pivot_df.loc[mask, 'food_and_beverage'].sum()
    combine_df.at[i, 'parking_and_automotive_services'] = pivot_df.loc[mask, 'parking_and_automotive_services'].sum()
    combine_df.at[i, 'professional_services'] = pivot_df.loc[mask, 'professional_services'].sum()
    combine_df.at[i, 'real_estate'] = pivot_df.loc[mask, 'real_estate'].sum()
    combine_df.at[i, 'retail_services'] = pivot_df.loc[mask, 'retail_services'].sum()
    combine_df.at[i, 'transportation'] = pivot_df.loc[mask, 'transportation'].sum()
combine_df

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,EWR,0,0,0,0,0,0,0,0
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,EWR,0,0,0,0,0,0,0,0
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,EWR,0,0,0,0,0,0,0,0
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,EWR,0,0,0,0,0,0,0,0
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,EWR,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247.0,2023-04,6,19,Manhattan,69,0,0,37,11,116,108,4
3038036,263,2023-04-30 20:00:00,242.0,2023-04,6,20,Manhattan,69,0,0,37,11,116,108,4
3038037,263,2023-04-30 21:00:00,210.0,2023-04,6,21,Manhattan,69,0,0,37,11,116,108,4
3038038,263,2023-04-30 22:00:00,152.0,2023-04,6,22,Manhattan,69,0,0,37,11,116,108,4
3038039,263,2023-04-30 23:00:00,84.0,2023-04,6,23,Manhattan,69,0,0,37,11,116,108,4

In [9]:
print("entertainment_and_recreation: ", combine_df['entertainment_and_recreation'].unique().tolist(), "\n")
print("financial_services: ", combine_df['financial_services'].unique().tolist(), "\n")
print("food_and_beverage: ", combine_df['food_and_beverage'].unique().tolist(), "\n")
print("parking_and_automotive_services: ", combine_df['parking_and_automotive_services'].unique().tolist(), "\n")
print("professional_services: ", combine_df['professional_services'].unique().tolist(), "\n")
print("real_estate: ", combine_df['real_estate'].unique().tolist(), "\n")
print("retail_services: ", combine_df['retail_services'].unique().tolist(), "\n")
print("transportation: ", combine_df['transportation'].unique().tolist(), "\n")

entertainment_and_recreation:  [0, 2, 48, 38, 39, 40, 41, 1, 11, 9, 61, 49, 50, 51, 52, 3, 4, 5, 27, 22, 23, 8, 14, 15, 10, 30, 31, 16, 7, 6, 12, 13, 25, 17, 18, 19, 20, 21, 26, 28, 24, 94, 82, 83, 84, 85, 86, 87, 88, 89, 59, 58, 35, 36, 37, 32, 33, 34, 29, 47, 57, 45, 46, 42, 43, 44, 69, 70, 60, 62, 63, 64, 65, 66, 67, 97, 98, 78, 79, 80, 81, 76, 77, 68, 71, 72, 73, 74, 53, 75]

financial_services:  [0, 3, 2, 1, 4, 9, 8, 10, 11, 12, 5, 6, 7, 25, 26, 27, 28, 29, 30, 31, 32]

food_and_beverage:  [0, 2, 1, 5, 3, 4]

parking_and_automotive_services:  [0, 30, 31, 32, 33, 34, 24, 25, 26, 27, 28, 29, 5, 6, 22, 23, 35, 36, 37, 8, 12, 13, 14, 11, 7, 1, 19, 20, 21, 38, 39, 10, 16, 15, 17, 18, 40, 41, 42, 53, 54, 55, 56, 45, 46, 48, 49, 50, 51, 4, 2, 9, 43, 44, 47, 3, 52, 70, 71, 72, 73, 67, 68, 69, 76, 57, 58, 59, 60, 61, 62, 63, 64, 74, 75, 77, 78, 79, 80, 81, 82, 83, 65, 66]

professional_services:  [0, 19, 20, 21, 22, 23, 24, 17, 18, 2, 8, 7, 9, 10, 11, 31, 32, 33, 34, 35, 27, 28, 29, 30, 4, 6, 5, 42, 38, 39, 40, 36, 37, 41, 12, 13, 14, 26, 63, 64, 60, 61, 62, 59, 65, 66, 68, 69, 70, 25, 1, 15, 16, 3, 78, 79, 74, 75, 76, 77, 86, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 49, 48, 46, 47, 45, 50, 51, 52, 43, 44, 57, 55, 56, 53, 96, 97, 54, 58]

real_estate:  [0, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 249, 250, 40, 39, 36, 44, 45, 46, 230, 231, 222, 223, 224, 245, 246, 48, 49, 50, 37, 102, 103, 104, 105, 106, 107, 108, 110, 111, 112, 113, 100, 101, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 62, 1, 11, 12, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 198, 199, 83, 84, 78, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 142, 79, 80, 81, 82, 85, 86, 24, 25, 27, 28, 29, 30, 31, 32, 61, 63, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 530, 531, 532, 533, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 520, 521, 522, 421, 422, 423, 424, 425, 426, 427, 428, 429, 431, 432, 433, 434, 435, 436, 437, 438, 419, 420, 10, 8, 16, 17, 14, 15, 265, 229, 232, 154, 155, 156, 134, 135, 58, 59, 60, 55, 56, 57, 26, 109, 53, 54, 47, 13, 9, 87, 88, 89, 90, 91, 77, 38, 41, 42, 43, 35, 51, 52, 196, 197, 200, 201, 202, 203, 185, 186, 187, 188, 96, 97, 98, 94, 189, 190, 191, 192, 193, 194, 195, 167, 168, 33, 34, 20, 21, 22, 23, 99, 6, 4, 7, 5, 19, 129, 130, 131, 132, 133, 125, 126, 118, 119, 120, 121, 122, 123, 117, 114, 115, 116, 234, 235, 236, 95, 180, 181, 182, 183, 184, 170, 171, 172, 173, 174, 175, 330, 331, 332, 333, 334, 324, 325, 124, 127, 137, 138, 139, 140, 141, 518, 519, 523, 525, 526, 527, 528, 529, 534, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 367, 368, 369, 371, 372, 373, 347, 348, 349, 166, 169, 159, 160, 161, 162, 2, 128, 136, 157, 158, 247, 248, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 465, 466, 467, 468, 18, 279, 280, 281, 282, 240, 241, 242, 307, 308, 309, 310, 311, 312, 313, 314, 315, 299, 300, 176, 163, 92, 286, 287, 288, 289, 290, 291, 292, 293, 294, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 399, 400, 401, 402, 403, 404, 405, 336, 337, 338, 366, 343, 344, 345, 346, 164, 165, 177, 178, 179, 93, 699, 701, 702, 703, 704, 705, 707, 708, 709, 710, 711, 712, 713, 714, 715, 717, 718, 719, 720, 721, 723, 724, 725, 726, 727, 728, 729, 730, 731, 733, 670, 671, 672, 673, 674, 675, 3, 238, 225, 226, 227, 228, 233, 220, 221]

retail_services:  [0, 49, 50, 51, 52, 53, 54, 40, 42, 41, 35, 36, 37, 7, 31, 30, 32, 33, 38, 316, 317, 311, 313, 314, 315, 318, 320, 321, 308, 309, 310, 312, 34, 79, 80, 81, 83, 84, 75, 77, 78, 82, 76, 13, 14, 247, 248, 249, 250, 251, 252, 253, 254, 255, 243, 244, 246, 256, 239, 240, 241, 242, 26, 25, 97, 98, 99, 100, 92, 93, 94, 95, 96, 124, 125, 126, 127, 128, 130, 131, 129, 111, 112, 137, 139, 140, 138, 141, 142, 143, 144, 132, 133, 91, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 160, 162, 163, 282, 283, 284, 285, 287, 288, 289, 290, 291, 292, 293, 286, 294, 295, 296, 297, 298, 300, 301, 302, 303, 304, 305, 306, 307, 56, 57, 58, 85, 86, 87, 73, 74, 192, 193, 194, 185, 186, 188, 189, 190, 191, 181, 182, 183, 184, 1, 70, 69, 122, 123, 118, 119, 120, 134, 121, 5, 6, 8, 9, 10, 11, 71, 72, 68, 59, 60, 2, 220, 221, 222, 223, 224, 225, 226, 219, 228, 229, 230, 231, 234, 235, 236, 237, 238, 216, 217, 218, 179, 180, 187, 20, 135, 136, 104, 105, 106, 107, 101, 102, 103, 145, 146, 147, 148, 149, 65, 66, 67, 62, 63, 64, 108, 109, 110, 22, 23, 55, 90, 17, 18, 16, 4, 45, 46, 47, 48, 39, 232, 233, 205, 206, 207, 150, 151, 152, 153, 154, 155, 156, 113, 114, 115, 116, 117, 29, 157, 196, 198, 199, 200, 201, 202, 203, 204, 43, 158, 159, 161, 212, 213, 214, 215, 88, 44, 245, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 89, 15, 61, 299, 319, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 227, 27, 28, 24, 269, 270, 271, 272, 273, 274, 19, 211, 209, 210, 208]

transportation:  [0, 1, 15, 16, 13, 14, 17, 18, 19, 20, 21, 2, 12, 22, 3, 4, 5, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 43, 48, 50, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 6, 7, 10, 11, 9, 8, 51, 57, 73, 74, 25, 32, 47, 49]

In [10]:
# check the anwser is correct, we choose taxi_zone 86, time 2023-03-18 11:00:00, the answer of the number of 
# real_estateshould be 60.
mask = (
    (pivot_df['taxi_zone'] == 86) &
    (pivot_df['License Creation Date'] < pd.Timestamp('2023-03-18 11:00:00')) &
    (pivot_df['License Expiration Date'] > pd.Timestamp('2023-03-18 11:00:00'))
)

selected_rows = pivot_df[mask]
sum_real_estate = selected_rows['real_estate'].sum()
sum_real_estate

60

In [11]:

combine_df.reset_index(drop=True).to_parquet("model_taxi_business_match_time_2.2.parquet", index=False)

# run at here

In [12]:
combine_df = pd.read_parquet("model_taxi_business_match_time_2.2.parquet")
combine_df

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,EWR,0,0,0,0,0,0,0,0
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,EWR,0,0,0,0,0,0,0,0
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,EWR,0,0,0,0,0,0,0,0
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,EWR,0,0,0,0,0,0,0,0
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,EWR,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247.0,2023-04,6,19,Manhattan,69,0,0,37,11,116,108,4
3038036,263,2023-04-30 20:00:00,242.0,2023-04,6,20,Manhattan,69,0,0,37,11,116,108,4
3038037,263,2023-04-30 21:00:00,210.0,2023-04,6,21,Manhattan,69,0,0,37,11,116,108,4
3038038,263,2023-04-30 22:00:00,152.0,2023-04,6,22,Manhattan,69,0,0,37,11,116,108,4
3038039,263,2023-04-30 23:00:00,84.0,2023-04,6,23,Manhattan,69,0,0,37,11,116,108,4

# connect hospital dataset

In [13]:
# Reading from a csv file, into a data frame
hospital_df = pd.read_csv('basic_HospitalData_version_1.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

# modify the structure of the dataset for further connection
hospital_df = hospital_df.rename(columns={'location_id': 'taxi_zone', 'Counts': 'hospital'})
hospital_df = hospital_df.drop('Industry', axis=1)


hospital_df

    taxi_zone  hospital
0          10         1
1         112         1
2         118         1
3         121         2
4         127         1
5         130         1
6         137         2
7         144         1
8         156         1
9         166         1
10         17         1
11        173         1
12        174         2
13        185         2
14        188         3
15        198         1
16        202         2
17        205         1
18        221         1
19        225         2
20        232         4
21        247         2
22        248         6
23        254         1
24        255         1
25         29         2
26         35         1
27         37         4
28         42         3
29         43         7
30         45         1
31         55         1
32         56         1
33         61         1
34         65         1
35          7         1
36         75         2
37         76         1
38         77         2
39         78         1
40         80         2
41         85         3
42         98         2

In [14]:
# Merge business_df_pivot and hospital_df on 'taxi_zone' using inner join
combine_df = combine_df.merge(hospital_df, on='taxi_zone', how='left')
# Replace NaN values with 0
combine_df.fillna(0, inplace=True)

In [15]:
combine_df

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,EWR,0,0,0,0,0,0,0,0,0.0
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,EWR,0,0,0,0,0,0,0,0,0.0
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,EWR,0,0,0,0,0,0,0,0,0.0
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,EWR,0,0,0,0,0,0,0,0,0.0
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,EWR,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247.0,2023-04,6,19,Manhattan,69,0,0,37,11,116,108,4,0.0
3038036,263,2023-04-30 20:00:00,242.0,2023-04,6,20,Manhattan,69,0,0,37,11,116,108,4,0.0
3038037,263,2023-04-30 21:00:00,210.0,2023-04,6,21,Manhattan,69,0,0,37,11,116,108,4,0.0
3038038,263,2023-04-30 22:00:00,152.0,2023-04,6,22,Manhattan,69,0,0,37,11,116,108,4,0.0
3038039,263,2023-04-30 23:00:00,84.0,2023-04,6,23,Manhattan,69,0,0,37,11,116,108,4,0.0

# connect hotspot dataset

In [16]:
# Reading from a csv file, into a data frame
hotspot_df = pd.read_csv('basic_hotspot_df.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)
hotspot_df

     location_id          Wifi Type  Counts
0             10          Free Wifi       1
1             10  Limited Free Wifi      16
2            100          Free Wifi      21
3            101          Free Wifi       1
4            102          Free Wifi       1
..           ...                ...     ...
304           94          Free Wifi       9
305           95          Free Wifi      30
306           97          Free Wifi      46
307           98          Free Wifi       2
308           98  Limited Free Wifi       7

[309 rows x 3 columns]

In [17]:
# Group the data by 'location_id' and sum 'Counts'
hotspot_df = hotspot_df.groupby('location_id')['Counts'].sum().reset_index()
hotspot_df = hotspot_df.rename(columns={'location_id': 'taxi_zone', 'Counts': 'hotspots'})
hotspot_df

     taxi_zone  hotspots
0            6         3
1            7        54
2            8         1
3            9         1
4           10        17
..         ...       ...
221        258        19
222        259         3
223        260        16
224        261        11
225        263        14

[226 rows x 2 columns]

In [18]:
# Merge hotspot_df on 'taxi_zone' using inner join
combine_df = combine_df.merge(hotspot_df, on='taxi_zone', how='left')
# Replace NaN values with 0
combine_df.fillna(0, inplace=True)

In [19]:
combine_df

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,EWR,0,0,0,0,0,0,0,0,0.0,0.0
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,EWR,0,0,0,0,0,0,0,0,0.0,0.0
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,EWR,0,0,0,0,0,0,0,0,0.0,0.0
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,EWR,0,0,0,0,0,0,0,0,0.0,0.0
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,EWR,0,0,0,0,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247.0,2023-04,6,19,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0
3038036,263,2023-04-30 20:00:00,242.0,2023-04,6,20,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0
3038037,263,2023-04-30 21:00:00,210.0,2023-04,6,21,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0
3038038,263,2023-04-30 22:00:00,152.0,2023-04,6,22,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0
3038039,263,2023-04-30 23:00:00,84.0,2023-04,6,23,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0

# connect school dataset

In [20]:

# Reading from a csv file, into a data frame
school_df = pd.read_csv('basic_EducationData.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)
school_df

     Taxi_zone Educational Facility  Counts
0           10            Education       8
1          101            Education       6
2          102            Education       3
3          103            Education       1
4          106            Education       1
..         ...                  ...     ...
218         92            Education      11
219         94            Education      12
220         95            Education      12
221         97            Education      12
222         98            Education       3

[223 rows x 3 columns]

In [21]:
# modify the structure of the dataset for further connection
school_df = school_df.rename(columns={'Taxi_zone': 'taxi_zone', 'Counts': 'school'})
school_df = school_df.drop('Educational Facility', axis=1)

school_df

     taxi_zone  school
0           10       8
1          101       6
2          102       3
3          103       1
4          106       1
..         ...     ...
218         92      11
219         94      12
220         95      12
221         97      12
222         98       3

[223 rows x 2 columns]

In [22]:
# Merge school_df on 'taxi_zone' using inner join
combine_df = combine_df.merge(school_df, on='taxi_zone', how='left')
# Replace NaN values with 0
combine_df.fillna(0, inplace=True)

In [23]:
combine_df

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots,school
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247.0,2023-04,6,19,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0
3038036,263,2023-04-30 20:00:00,242.0,2023-04,6,20,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0
3038037,263,2023-04-30 21:00:00,210.0,2023-04,6,21,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0
3038038,263,2023-04-30 22:00:00,152.0,2023-04,6,22,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0
3038039,263,2023-04-30 23:00:00,84.0,2023-04,6,23,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0

# Add 'total_business' column to dataset

In [24]:
combine_df['total_business'] = combine_df.iloc[:, 7:].sum(axis=1)

In [25]:
combine_df.head(100000000)

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots,school,total_business
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247.0,2023-04,6,19,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0,363.0
3038036,263,2023-04-30 20:00:00,242.0,2023-04,6,20,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0,363.0
3038037,263,2023-04-30 21:00:00,210.0,2023-04,6,21,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0,363.0
3038038,263,2023-04-30 22:00:00,152.0,2023-04,6,22,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0,363.0
3038039,263,2023-04-30 23:00:00,84.0,2023-04,6,23,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0,363.0

In [26]:
print("hospital: ", combine_df['hospital'].unique().tolist(), "\n")
print("hotspots: ", combine_df['hotspots'].unique().tolist(), "\n")
print("school: ", combine_df['school'].unique().tolist(), "\n")
print("total_business: ", combine_df['total_business'].unique().tolist(), "\n")

hospital:  [0.0, 1.0, 2.0, 4.0, 3.0, 7.0, 6.0]

hotspots:  [0.0, 3.0, 54.0, 1.0, 17.0, 8.0, 2.0, 11.0, 23.0, 7.0, 5.0, 18.0, 43.0, 27.0, 10.0, 9.0, 69.0, 101.0, 13.0, 4.0, 39.0, 15.0, 32.0, 6.0, 20.0, 44.0, 82.0, 53.0, 65.0, 58.0, 22.0, 12.0, 16.0, 46.0, 30.0, 21.0, 51.0, 63.0, 25.0, 34.0, 38.0, 14.0, 26.0, 33.0, 24.0, 41.0, 52.0, 29.0, 45.0, 28.0, 42.0, 48.0, 40.0, 19.0]

school:  [0.0, 6.0, 9.0, 2.0, 4.0, 11.0, 8.0, 5.0, 19.0, 17.0, 10.0, 3.0, 12.0, 13.0, 14.0, 1.0, 32.0, 18.0, 23.0, 28.0, 29.0, 7.0, 15.0, 27.0, 34.0, 16.0, 25.0, 30.0, 36.0, 22.0]

total_business:  [0.0, 358.0, 359.0, 360.0, 361.0, 362.0, 363.0, 364.0, 365.0, 367.0, 368.0, 369.0, 370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376.0, 377.0, 378.0, 366.0, 161.0, 159.0, 149.0, 150.0, 151.0, 152.0, 153.0, 154.0, 155.0, 148.0, 56.0, 57.0, 58.0, 46.0, 318.0, 317.0, 319.0, 316.0, 320.0, 322.0, 323.0, 313.0, 314.0, 315.0, 308.0, 309.0, 310.0, 311.0, 781.0, 782.0, 783.0, 784.0, 785.0, 786.0, 787.0, 788.0, 789.0, 790.0, 791.0, 792.0, 774.0, 773.0, 775.0, 771.0, 770.0, 772.0, 776.0, 777.0, 769.0, 778.0, 779.0, 780.0, 758.0, 759.0, 760.0, 761.0, 762.0, 763.0, 765.0, 766.0, 767.0, 1.0, 99.0, 100.0, 101.0, 102.0, 88.0, 200.0, 201.0, 202.0, 203.0, 204.0, 205.0, 206.0, 207.0, 208.0, 209.0, 210.0, 212.0, 213.0, 211.0, 195.0, 196.0, 197.0, 171.0, 172.0, 173.0, 174.0, 175.0, 176.0, 177.0, 178.0, 180.0, 181.0, 179.0, 182.0, 183.0, 184.0, 185.0, 186.0, 187.0, 168.0, 170.0, 4.0, 59.0, 60.0, 61.0, 63.0, 62.0, 584.0, 585.0, 586.0, 587.0, 588.0, 589.0, 590.0, 591.0, 574.0, 575.0, 576.0, 573.0, 577.0, 578.0, 579.0, 581.0, 582.0, 580.0, 583.0, 592.0, 593.0, 594.0, 595.0, 596.0, 597.0, 598.0, 599.0, 566.0, 568.0, 567.0, 569.0, 128.0, 129.0, 130.0, 131.0, 123.0, 288.0, 289.0, 290.0, 291.0, 292.0, 293.0, 294.0, 295.0, 296.0, 297.0, 299.0, 284.0, 285.0, 286.0, 287.0, 304.0, 305.0, 306.0, 312.0, 303.0, 307.0, 281.0, 282.0, 283.0, 220.0, 222.0, 223.0, 225.0, 226.0, 224.0, 227.0, 228.0, 229.0, 230.0, 231.0, 232.0, 233.0, 235.0, 236.0, 237.0, 221.0, 219.0, 218.0, 234.0, 238.0, 239.0, 240.0, 241.0, 242.0, 243.0, 244.0, 245.0, 547.0, 549.0, 550.0, 551.0, 552.0, 553.0, 554.0, 556.0, 555.0, 557.0, 558.0, 559.0, 560.0, 561.0, 562.0, 563.0, 564.0, 565.0, 570.0, 571.0, 572.0, 973.0, 975.0, 976.0, 977.0, 978.0, 979.0, 981.0, 982.0, 983.0, 984.0, 985.0, 986.0, 987.0, 989.0, 991.0, 992.0, 993.0, 994.0, 995.0, 996.0, 997.0, 990.0, 998.0, 988.0, 999.0, 1001.0, 1002.0, 1004.0, 1005.0, 1006.0, 1007.0, 1003.0, 1008.0, 1009.0, 1010.0, 1011.0, 1012.0, 1014.0, 1016.0, 1017.0, 1018.0, 1020.0, 1021.0, 1022.0, 1025.0, 1026.0, 1028.0, 1029.0, 1030.0, 1031.0, 1033.0, 1034.0, 1037.0, 1038.0, 1041.0, 1042.0, 1044.0, 1045.0, 1046.0, 1039.0, 1040.0, 1047.0, 1048.0, 1051.0, 1052.0, 1053.0, 1032.0, 1035.0, 1036.0, 1049.0, 1050.0, 1015.0, 1019.0, 1013.0, 1023.0, 1024.0, 1027.0, 83.0, 81.0, 79.0, 78.0, 74.0, 72.0, 71.0, 167.0, 169.0, 166.0, 163.0, 164.0, 519.0, 520.0, 521.0, 522.0, 523.0, 526.0, 527.0, 524.0, 525.0, 517.0, 518.0, 483.0, 482.0, 484.0, 485.0, 488.0, 489.0, 490.0, 491.0, 492.0, 20.0, 19.0, 300.0, 301.0, 302.0, 298.0, 271.0, 272.0, 269.0, 214.0, 215.0, 216.0, 217.0, 198.0, 199.0, 50.0, 51.0, 188.0, 189.0, 190.0, 191.0, 192.0, 193.0, 194.0, 156.0, 157.0, 158.0, 135.0, 136.0, 134.0, 137.0, 138.0, 139.0, 120.0, 121.0, 122.0, 119.0, 117.0, 118.0, 113.0, 111.0, 17.0, 13.0, 12.0, 325.0, 326.0, 324.0, 327.0, 328.0, 329.0, 330.0, 332.0, 334.0, 333.0, 335.0, 336.0, 321.0, 379.0, 380.0, 381.0, 382.0, 385.0, 386.0, 387.0, 388.0, 389.0, 390.0, 391.0, 280.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 440.0, 441.0, 442.0, 443.0, 444.0, 446.0, 447.0, 448.0, 445.0, 449.0, 451.0, 452.0, 453.0, 455.0, 457.0, 458.0, 450.0, 431.0, 432.0, 433.0, 434.0, 435.0, 436.0, 474.0, 475.0, 476.0, 477.0, 478.0, 479.0, 480.0, 481.0, 486.0, 487.0, 493.0, 494.0, 495.0, 496.0, 497.0, 498.0, 499.0, 500.0, 473.0, 21.0, 23.0, 273.0, 274.0, 40.0, 41.0, 42.0, 276.0, 277.0, 278.0, 279.0, 104.0, 105.0, 106.0, 108.0, 109.0, 103.0, 98.0, 34.0, 35.0, 33.0, 18.0, 341.0, 342.0, 344.0, 345.0, 346.0, 347.0, 348.0, 349.0, 350.0, 351.0, 352.0, 353.0, 354.0, 355.0, 356.0, 357.0, 338.0, 339.0, 337.0, 340.0, 24.0, 25.0, 26.0, 77.0, 80.0, 82.0, 84.0, 75.0, 73.0, 70.0, 607.0, 608.0, 609.0, 611.0, 612.0, 610.0, 613.0, 614.0, 602.0, 603.0, 604.0, 605.0, 606.0, 615.0, 616.0, 617.0, 115.0, 116.0, 124.0, 125.0, 246.0, 247.0, 248.0, 249.0, 250.0, 251.0, 252.0, 253.0, 265.0, 266.0, 267.0, 268.0, 261.0, 262.0, 263.0, 264.0, 32.0, 36.0, 331.0, 343.0, 395.0, 396.0, 397.0, 398.0, 399.0, 400.0, 402.0, 401.0, 403.0, 404.0, 394.0, 392.0, 393.0, 254.0, 255.0, 256.0, 257.0, 258.0, 259.0, 260.0, 383.0, 384.0, 85.0, 86.0, 600.0, 618.0, 270.0, 275.0, 416.0, 417.0, 418.0, 419.0, 420.0, 421.0, 413.0, 414.0, 415.0, 405.0, 406.0, 407.0, 140.0, 141.0, 142.0, 143.0, 144.0, 145.0, 146.0, 147.0, 544.0, 545.0, 546.0, 548.0, 160.0, 162.0, 96.0, 97.0, 422.0, 423.0, 424.0, 425.0, 426.0, 427.0, 428.0, 429.0, 430.0, 437.0, 438.0, 439.0, 807.0, 808.0, 809.0, 810.0, 813.0, 815.0, 816.0, 817.0, 818.0, 811.0, 812.0, 814.0, 819.0, 820.0, 821.0, 822.0, 823.0, 824.0, 825.0, 826.0, 827.0, 804.0, 805.0, 806.0, 840.0, 841.0, 842.0, 844.0, 846.0, 847.0, 849.0, 850.0, 851.0, 853.0, 855.0, 856.0, 858.0, 859.0, 860.0, 862.0, 863.0, 864.0, 829.0, 830.0, 832.0, 831.0, 833.0, 834.0, 835.0, 836.0, 828.0, 837.0, 838.0, 839.0, 843.0, 845.0, 848.0, 11.0, 466.0, 467.0, 468.0, 469.0, 470.0, 462.0, 463.0, 464.0, 465.0, 2.0, 165.0, 76.0, 114.0, 45.0, 44.0, 703.0, 704.0, 705.0, 706.0, 707.0, 708.0, 710.0, 711.0, 713.0, 714.0, 715.0, 716.0, 717.0, 718.0, 720.0, 721.0, 722.0, 723.0, 724.0, 725.0, 709.0, 719.0, 700.0, 701.0, 702.0, 685.0, 686.0, 687.0, 688.0, 690.0, 689.0, 691.0, 692.0, 678.0, 679.0, 681.0, 684.0, 693.0, 694.0, 695.0, 696.0, 697.0, 698.0, 699.0, 680.0, 682.0, 683.0, 665.0, 666.0, 667.0, 668.0, 662.0, 661.0, 663.0, 664.0, 107.0, 622.0, 623.0, 624.0, 625.0, 626.0, 627.0, 628.0, 629.0, 630.0, 631.0, 632.0, 633.0, 634.0, 635.0, 636.0, 637.0, 638.0, 639.0, 640.0, 643.0, 644.0, 645.0, 646.0, 647.0, 648.0, 649.0, 650.0, 651.0, 652.0, 653.0, 654.0, 655.0, 656.0, 657.0, 659.0, 660.0, 658.0, 6.0, 5.0, 110.0, 112.0, 133.0, 132.0, 28.0, 27.0, 22.0, 9.0, 456.0, 459.0, 43.0, 39.0, 38.0, 408.0, 409.0, 410.0, 411.0, 412.0, 461.0, 460.0, 454.0, 127.0, 69.0, 528.0, 529.0, 530.0, 531.0, 532.0, 533.0, 534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540.0, 541.0, 87.0, 7.0, 126.0, 67.0, 66.0, 672.0, 673.0, 674.0, 675.0, 676.0, 677.0, 726.0, 727.0, 728.0, 729.0, 730.0, 731.0, 732.0, 733.0, 734.0, 735.0, 736.0, 737.0, 738.0, 739.0, 740.0, 741.0, 743.0, 744.0, 746.0, 747.0, 742.0, 29.0, 1055.0, 1056.0, 1057.0, 1059.0, 1060.0, 1054.0, 1058.0, 1061.0, 1062.0, 1063.0, 1065.0, 1066.0, 1067.0, 30.0, 31.0, 14.0, 542.0, 543.0, 641.0, 642.0, 3.0, 47.0]

# connect the holiday dataset

In [27]:

import holidays

# Create a dictionary of US holidays for 2022 and 2023
us_holidays = dict(holidays.US(years=[2022, 2023]))


# First, ensure that 'datetime' column is indeed a datetime object
combine_df['datetime'] = pd.to_datetime(combine_df['datetime'])

# Create a new 'holiday' column. If the date is a US holiday, it will have the holiday's name;
# otherwise, it will be "No"
combine_df['holiday'] = combine_df['datetime'].dt.date.apply(lambda x: us_holidays.get(x, "No"))
combine_df

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots,school,total_business,holiday
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,New Year's Day
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,New Year's Day
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,New Year's Day
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,New Year's Day
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,EWR,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,New Year's Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247.0,2023-04,6,19,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0,363.0,No
3038036,263,2023-04-30 20:00:00,242.0,2023-04,6,20,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0,363.0,No
3038037,263,2023-04-30 21:00:00,210.0,2023-04,6,21,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0,363.0,No
3038038,263,2023-04-30 22:00:00,152.0,2023-04,6,22,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0,363.0,No
3038039,263,2023-04-30 23:00:00,84.0,2023-04,6,23,Manhattan,69,0,0,37,11,116,108,4,0.0,14.0,4.0,363.0,No

In [28]:
 # check null value
combine_df.isnull().sum()

taxi_zone                          0
datetime                           0
passenger_count                    0
year_month                         0
week                               0
hour                               0
borough                            0
entertainment_and_recreation       0
financial_services                 0
food_and_beverage                  0
parking_and_automotive_services    0
professional_services              0
real_estate                        0
retail_services                    0
transportation                     0
hospital                           0
hotspots                           0
school                             0
total_business                     0
holiday                            0
dtype: int64

In [29]:
combine_df.dtypes

taxi_zone                                   int64
datetime                           datetime64[ns]
passenger_count                           float64
year_month                              period[M]
week                                        int32
hour                                        int32
borough                                    object
entertainment_and_recreation                int64
financial_services                          int64
food_and_beverage                           int64
parking_and_automotive_services             int64
professional_services                       int64
real_estate                                 int64
retail_services                             int64
transportation                              int64
hospital                                  float64
hotspots                                  float64
school                                    float64
total_business                            float64
holiday                                    object
dtype: object

In [30]:
combine_df['passenger_count'] = combine_df['passenger_count'].astype('int')
combine_df['hospital'] = combine_df['hospital'].astype('int')
combine_df['hotspots'] = combine_df['hotspots'].astype('int')
combine_df['school'] = combine_df['school'].astype('int')
combine_df['total_business'] = combine_df['total_business'].astype('int')

In [31]:
combine_df.dtypes

taxi_zone                                   int64
datetime                           datetime64[ns]
passenger_count                             int64
year_month                              period[M]
week                                        int32
hour                                        int32
borough                                    object
entertainment_and_recreation                int64
financial_services                          int64
food_and_beverage                           int64
parking_and_automotive_services             int64
professional_services                       int64
real_estate                                 int64
retail_services                             int64
transportation                              int64
hospital                                    int64
hotspots                                    int64
school                                      int64
total_business                              int64
holiday                                    object
dtype: object

In [32]:
combine_df.to_csv("train_data_2.2.csv", index=False)

In [33]:
combine_df.to_parquet("train_data_2.2.parquet", index=False)

# Convert 'year_month' to 'month'

In [3]:
# Reading from a csv file, into a data frame
change_month = pd.read_csv('train_data_2.2.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)
change_month

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots,school,total_business,holiday
0,1,2022-01-01 00:00:00,0,2022-01,5,0,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
1,1,2022-01-01 01:00:00,0,2022-01,5,1,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
2,1,2022-01-01 02:00:00,2,2022-01,5,2,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
3,1,2022-01-01 03:00:00,1,2022-01,5,3,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
4,1,2022-01-01 04:00:00,8,2022-01,5,4,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247,2023-04,6,19,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038036,263,2023-04-30 20:00:00,242,2023-04,6,20,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038037,263,2023-04-30 21:00:00,210,2023-04,6,21,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038038,263,2023-04-30 22:00:00,152,2023-04,6,22,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038039,263,2023-04-30 23:00:00,84,2023-04,6,23,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No

In [4]:
# Convert 'year_month' to 'month'
change_month['year_month'] = pd.to_datetime(change_month['year_month']).dt.month
change_month

,taxi_zone,datetime,passenger_count,year_month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots,school,total_business,holiday
0,1,2022-01-01 00:00:00,0,1,5,0,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
1,1,2022-01-01 01:00:00,0,1,5,1,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
2,1,2022-01-01 02:00:00,2,1,5,2,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
3,1,2022-01-01 03:00:00,1,1,5,3,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
4,1,2022-01-01 04:00:00,8,1,5,4,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247,4,6,19,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038036,263,2023-04-30 20:00:00,242,4,6,20,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038037,263,2023-04-30 21:00:00,210,4,6,21,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038038,263,2023-04-30 22:00:00,152,4,6,22,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038039,263,2023-04-30 23:00:00,84,4,6,23,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No

In [6]:
print("year_month: ", change_month['year_month'].unique().tolist(), "\n")

year_month:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [7]:
change_month = change_month.rename(columns={
    'year_month': 'month'
})
change_month

,taxi_zone,datetime,passenger_count,month,week,hour,borough,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots,school,total_business,holiday
0,1,2022-01-01 00:00:00,0,1,5,0,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
1,1,2022-01-01 01:00:00,0,1,5,1,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
2,1,2022-01-01 02:00:00,2,1,5,2,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
3,1,2022-01-01 03:00:00,1,1,5,3,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
4,1,2022-01-01 04:00:00,8,1,5,4,EWR,0,0,0,0,0,0,0,0,0,0,0,0,New Year's Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038035,263,2023-04-30 19:00:00,247,4,6,19,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038036,263,2023-04-30 20:00:00,242,4,6,20,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038037,263,2023-04-30 21:00:00,210,4,6,21,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038038,263,2023-04-30 22:00:00,152,4,6,22,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No
3038039,263,2023-04-30 23:00:00,84,4,6,23,Manhattan,69,0,0,37,11,116,108,4,0,14,4,363,No

In [9]:
change_month.to_csv("train_data_2.2.1_change_month.csv", index=False)